h3 {
  padding: 1vw;
  font-size: 1.5rem;
}

strong {
  font-weight: bold;
}

h1, h2 {
  color: #FFFFFF;
}

h1,
h3 {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  text-align: center;
}

strong {
  font-size: 1.2rem;
}

address,
ol,
ul {
  line-height: 2vw;
  font-size: 0.9rem;
}

ol,
ul {
  list-style-type: square;
  list-style-position: inside;
  margin-left: 2vw;
  padding: 1vw 0vw;
}

li ul {
  list-style-type: circle;
  padding: 0vw 2vw;
  color: #0074d9;
  font-weight: bold;
  line-height: 2vw;
  font-size: 0.8rem;
}


h5 ul li {
  color: #0074d9;
  font-weight: bold;
}

time h4 {
  font-weight: bold;
}

time,
h5 {
  color: #3d9970;
  font-weight: bold;
}

header h2 {
  font-size: 1.8rem;
}

body {
  font-family: "open sans", sans-serif;
  margin: 0.5vw 0.5vw 0.5vw 0.5vw;
  font-size: 62.5%;
}

#background,
a {
  overflow-wrap: break-word;
}

.title {
  letter-spacing: 0.416667em;
  font-size: 3rem;
}

#background,
.gris {
  background-color: #aaaaaa;
}

#background {
  width: 20vw;
  padding: 0.8vw;
  margin: 1vw 0vw;
}

.button {
  color: #ffffff;
  background-color: #0074d9;
  text-align: center;
  margin: 1vw 3vw 2vw 0vw;
  padding: 0.9vw;
  display: block;
}

.button:hover {
  color: #001f3f;
  font-weight: bold;
}

.link:hover {
  color: #85144b;
}

.vert {
  background-color: #3d9970;
  margin: 1vw 50vw 1vw 0.5vw;
}

.bleu {
  background-color: #8399a7;
  margin: 0vw 60vw 1vw 0vw;
}

.gris {
  margin: 2vw 40vw 1vw 0vw;
}

.flex-container {
  display: flex;
}

.flex-container article {
  width: 40vw;
  font-size: 1.2rem;
}

.flex-container h4 {
  font-weight: bold;
  margin-left: 0.5vw;
  text-decoration: underline;
}

.textcolor h4 {
  color: #463239;
  font-weight: bold;
}

.textcolor h4,
h5 {
  display: inline;
}

.lien:hover {
  background-color: #ffdc00;
}

header {
  background-color: #85144b;
  padding: 0.2vw;
  line-height: 4vw;
}

@media screen and (max-width: 1024px) {
  
  header h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  strong {
    font-size: 1.1rem;
  }

  a {
    width: 50vw;
  }

  address,
  ol,
  ul {
    line-height: 8vw;
    font-size: 0.8rem;
  }

  ul li {
    line-height: 7vw;
  }

  li ul {
    font-size: 0.7rem;
  }

  address { 
    text-align: center; 
  }

  #background,
  header,
  h3 {
    width: 100vw;
  }

  .title {
    font-size: 1.5rem;
  }

  .button {
    margin: auto;
  }

  .flex-container article {
    display: block;
    width: initial;
    font-size: 0.8rem;
  }

  .flex-container {
    flex-direction: column;
  }

  header {
    line-height: 8vw;
    padding: 2vw;
  }
}

@media screen and (min-width: 728px) {

  header h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  strong {
    font-size: 1.1rem;
  }

  address,
  ol,
  ul {
    font-size: 0.8rem;
  }

  li ul {
    font-size: 0.8rem;
  }

  .title {
    font-size: 2rem;
  }

  .flex-container article {
    font-size: 0.9rem;
  }

}
